@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#f7f7f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root,
.App {
  height: 100%;
  min-width: 1200px;
  .scrollbar {
    /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/ 
    overflow:auto;
    &::-webkit-scrollbar {
      width: 5px;
    }
    /*定义滚动条轨道*/ 
    &::-webkit-scrollbar-track {
      background-color: transparent;
      -webkit-border-radius: 2em;
      -moz-border-radius: 2em;
      border-radius: 2em
    }
    /*定义滑块 内阴影+圆角*/ 
    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 2em;
      -moz-border-radius: 2em;
      border-radius: 2em;
    }
    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color:rgba(0,0,0,.05);
        &:hover {
          background-color:rgba(0,0,0,.3);
        }
      }
    }
  }
}
.table-wrap {
  padding:10px 28px;
}
.com-table {
  width:100%;
  th {
    color:#9290B1;
    height:40px;
    text-align: center;
  }
  td {
    color:#221F51;
    text-align: center;
    &.blod {
      color:#273964;
      font-size:18px;
    }
  }
}
.Pagination-wrap {
  display:flex;
  justify-content: flex-end;
  padding:10px 28px;
}
.space-between {
  display:flex;
  justify-content: space-between;
  align-items: center;
}