.active-details {
  display:flex;
  align-items: stretch;
  padding:36px;
  .left-panel {
    flex:1;
    margin-right:28px;
    display:flex;
    flex-direction: column;
    .merchant-wrap {
      flex:1;
      margin-top:23px;
      height:643px;
      background-color:#fff;
      border-radius:11px;
      .title {
        height:60px;
        border-bottom:1px solid #F7F7FB;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:0 28px;
        color:#221F51;
        &>span {
          font-size:18px;
        }
      }
      tbody tr {
        &:hover,&.active {
          background: rgba(240, 141, 182, 0.2)
        }
        cursor: pointer; 
      }
      td {
        min-width:50px;
        img {
          height:44px;
          width:44px;
          border-radius: 50%;
        }
        i {
          cursor: pointer;
          margin-right:5px;
        }
      }

    }
  }
  .aside-panel {
    width:271px;
    background:#fff;
    border-radius:11px;
    display: flex;
    flex-direction: column;
    &.edit-info {
      padding:25px 20px 0;
    }
    .merchant-info {
      padding:0 20px;
      display: flex;
      flex-direction: column;
    }
    .main-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
      color:#221F51;
      margin-bottom:16px;
    }
    .title {
      color:#000000;
      font-size:14px;
      padding:8px 0;
    }
    .desc {
      color:#9290B1;
      padding:8px 0;
      font-size:12px;
    }
    .btn,.btngroup {
      margin:0 -20px;
      height:50px;
      text-align: center;
      color:#fff;
      line-height:50px;
      background:rgba(238,43,123,1);
      border-radius:0px 0px 11px 11px;
      -webkit-user-select: none;    
      cursor: pointer;
      &.disabled {
        background:#999;
        cursor: not-allowed;
      }
    }
    .btn:active {
      box-shadow: 0 5px 10px rgba(0,0,0,.1) inset;
    }
    .btngroup {
      margin-top:20px;
      display:flex;
      div {
        width:50%;
        -webkit-user-select: none;
        &:first-child {
          border-radius:0px 0px  0 11px;
        }
        &:last-child {
          border-radius:0px 0px 11px 0;
        }   
        &:active {
          box-shadow: 0 5px 10px rgba(0,0,0,.1) inset;
        }
        &.disabled {
          background:#999;
          cursor: not-allowed;
        }
      }
    }
    .img-wrap {
      display:flex;
      flex-wrap: wrap;
      justify-content: space-around;
      img {
        width:80px;
        height:80px;
        margin-bottom:8px;
        border:1px dashed rgba(146, 144, 177, .1);
      }
    }
    .img-single {
      display:block;
      margin: 0 auto;
      width:80px;
      height:80px;
      margin-bottom:8px;
      border:1px dashed rgba(146, 144, 177, .1);
    }
  }
  button+button {
    margin-left: 10px;
  }
}